body{
  margin: 0;
  width: 100%;
}
#output {
  width: 50%;
  background: red;
  padding-right: 10%;
}

#calcContainer {
  width: 50rem;
  height: 45rem;
}
#oprContainer {
  float: left;
  display: block;
}
#numContainer {
  text-align: center;
}
.button {
width: 25%;
}
